
.widget-panel {
    padding: 20px 20px;
    border-radius: 4px;
    color: #ffffff;
    position: relative;
    margin-bottom: 20px;
}

.widget-style-2 i {
    font-size: 60px;
    float: right;
    padding: 37.5px 30px 37.5px 30px;
    margin-top: -30px;
    margin-right: -20px;
    color: #edf0f0;
    background: rgba(255,255,255,0.2);
}
.widget-style-2 h2 {
    font-weight: 600;
    font-size: 32px;
}
.bg-primary{
    background-color: rgba(59, 192, 195, 0.8);
}
.bg-success{
    background-color: rgba(51, 184, 108, 0.8);
}
.bg-info{
    background-color: rgba(28, 168, 221, 0.8);
}
.bg-warning{
    background-color: rgba(235, 193, 66, 0.8);
}
.bg-danger{
    background-color: rgba(203, 42, 42, 0.8);
}
.bg-muted {
    background-color: #d0d0d0;
}
.bg-inverse {
    background-color: rgba(20, 8, 45, 0.8);
}
.bg-purple {
    background-color: rgba(97, 92, 168, 0.8) !important;
}
.bg-pink {
    background-color: rgba(241, 60, 110, 0.8);
}



